@import url('https://fonts.googleapis.com/css?family=Montserrat%7CSource+Code+Pro');
:root {
    --crvena: #ad374f;
    --plava: #3765ad;
    --bg: #f1f3fa;
    --font: #333;
    --siva: #838383;
    --bela: #fff;
    --transition: .3s ease;
    --bodyFont: 'Montserrat', sans-serif;
    --fontSize: 16px;
    --headings: 'Source Code Pro', monospace;
    --padding: 4rem 0;
}
/**********************
basic styles
**********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--bodyFont);
    line-height: 20px;
    font-size: var(--fontSize);
    color: var(--font);
    background-color: var(--bg);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings);
    color: var(--crvena);
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.btn {
    padding: 15px 40px;
    color: var(--bela);
    background: var(--crvena);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto;
    box-shadow: 0 0 20px var(--siva);
    transition: var(--transtition);
}
.btn:hover {
    background: var(--plava);
}
h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;
}
/**********************
nav
**********************/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.logo, .nav-link, a {
    color: var(--font);
    text-transform: uppercase;
}
.logo {
    font-size: 1.5rem;
}
.logo span {
    color: var(--crvena);
}
.topnav {
    display: flex;
    font-size: 1.2rem;
}
.topnav .nav-link {
    padding-left: 20px;
    text-decoration: none;
    transition: var(--transtition);
}
.topnav .nav-link:hover {
    color: var(--crvena);
}
.sticky {
    background: var(--bela);
    box-shadow: 0 2px 10px 5px rgba(0,0,0,.1);
    transition: 1s ease;
    padding: 15px 100px;
}
/**********************
header
**********************/
header {
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.6)), url(img/header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.wrapper img {
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 40px var(--font);
}
.wrapper h1 {
    color: var(--plava);
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 40px;
    text-shadow: 3px 3px 3px var(--crvena);
}
/**********************
services
**********************/
.services {
    padding: var(--padding);
}
.service {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service div {
    flex: 1;
}
.img {
    display: flex;
    justify-content: center;
}
.service:nth-child(odd) .img {
    order: 2;
}
.service:nth-child(odd) .text {
    order: 1;
    text-align: right;
}
.services h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.services p {
    color: var(--siva);
    font-size: 1.2rem;
    line-height: 1.5;
}
/**********************
portfolio
**********************/
.portfolio {
    padding: var(--padding);
    background-color: var(--bela);
}
.portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projectWrapper {
    flex: 0 0 31%;
    margin-bottom: 40px;
}
.projectWrapper:last-child {
    margin: auto;
}
.projectWrapper img {
    width: 100%;
    display: block;
}
.projectWrapper .text {
    background: var(--bg);
    text-align: center;
    padding: 20px;
}
.projectWrapper h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
/**********************
kontakt
**********************/
#kontakt {
    padding: var(--padding);
}
form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input {
    flex: 0 0 49%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}
textarea {
    flex: 0 0 100%;
    padding: 10px;
}
#kontakt .btn {
    flex: 0 0 100%;
}

/**********************
footer
**********************/
footer {
    background-color: var(--plava);
    padding: var(--padding);
    color: var(--bela);
    line-height: 2;
}
footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container div:nth-child(1){
    flex: 0 0 55%;
}
footer .container div:nth-child(2){
    flex: 0 0 20%;
}
footer .container div:nth-child(3){
    flex: 0 0 20%;
}
footer .container ul li a {
    color: var(--bela);
    text-decoration: none;
    line-height: 1.5;
    transition: var(--transition);
}
footer .container ul li a:hover {
    color: var(--crvena);
}
footer h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-shadow: 0 0 2px black;
}

/**********************
responsive
**********************/
@media(max-width: 768px) {
    .container {
        width: 90%;
    }
    .wrapper h1 {
        font-size: 2rem;
        line-height: 1.3;
    }
    h2 {
        font-size: 2rem;
        line-height: 1.2;
    }
    header {
        height: 90vh;
    }
    .service:nth-child(odd) .img {
        order: 1;
    }
    .service:nth-child(odd) .text {
        order: 2;
        text-align: center;
    }
    .service div {
        text-align: center;
    }
    .projectWrapper {
        flex: 0 0 100%;
    }
    form {
        width: 90%;
    }
    input {
        flex: 0 0 100%;
    }
    footer .container div:nth-child(1),
    footer .container div:nth-child(2),
    footer .container div:nth-child(3) {
        flex: 0 0 100%;
    }
}